body {
    margin: 0;
    background: #0b1526;
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    background: #06101f;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #00bcd4;
    border-bottom: 2px solid #0e223d;
}

#filtros {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

select, button {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

button {
    background: #00bcd4;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    background: #0f1b2f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border-left: 4px solid #00bcd4;
}

.card h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #00bcd4;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

#graficos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.graficoBox {
    background: #0f1b2f;
    padding: 20px;
    border-radius: 10px;
}

/* celular */
@media (max-width: 900px) {
    #cards, #graficos {
        grid-template-columns: 1fr;
    }
}
